In [4]:
import os
import cv2
import glob

In [2]:
dataset_path = "./dataset"
img_path = os.path.join(dataset_path, "images")
annot_path = os.path.join(dataset_path, "annotation")
captions_path = os.path.join(annot_path, "captions_val2017.json")
instances_path = os.path.join(annot_path, "instances_val2017.json")
person_path = os.path.join(annot_path, "person_keypoints_val2017.json")
stuff_path = os.path.join(annot_path, "stuff_val2017.json")

In [ ]:
for i in glob.glob(os.path.join(img_path, "*.jpg")):
    print(i)

./dataset\images\000000000139.jpg

In [8]:
import json

with open(captions_path, 'r') as file:
    capt_json = json.load(file)
with open(instances_path, 'r') as file:
    inst_json = json.load(file)
with open(person_path, 'r') as file:
    pers_json = json.load(file)
with open(stuff_path, 'r') as file:
    stuf_json = json.load(file)

In [9]:
capt_json.keys(), inst_json.keys(), pers_json.keys(), stuf_json.keys()

(dict_keys(['info', 'licenses', 'images', 'annotations']),
 dict_keys(['info', 'licenses', 'images', 'annotations', 'categories']),
 dict_keys(['info', 'licenses', 'images', 'annotations', 'categories']),
 dict_keys(['info', 'images', 'licenses', 'categories', 'annotations']))

In [39]:
capt_json['images'][0].keys(), capt_json['annotations'][0].keys()

(dict_keys(['license', 'file_name', 'coco_url', 'height', 'width', 'date_captured', 'flickr_url', 'id']),
 dict_keys(['image_id', 'id', 'caption']))

In [40]:
inst_json['images'][0].keys(), inst_json['annotations'][0].keys(), inst_json['categories'][0].keys()

(dict_keys(['license', 'file_name', 'coco_url', 'height', 'width', 'date_captured', 'flickr_url', 'id']),
 dict_keys(['segmentation', 'area', 'iscrowd', 'image_id', 'bbox', 'category_id', 'id']),
 dict_keys(['supercategory', 'id', 'name']))

In [41]:
pers_json['images'][0].keys(), pers_json['annotations'][0].keys(), pers_json['categories'][0].keys()

(dict_keys(['license', 'file_name', 'coco_url', 'height', 'width', 'date_captured', 'flickr_url', 'id']),
 dict_keys(['segmentation', 'num_keypoints', 'area', 'iscrowd', 'keypoints', 'image_id', 'bbox', 'category_id', 'id']),
 dict_keys(['supercategory', 'id', 'name', 'keypoints', 'skeleton']))

In [42]:
stuf_json['images'][0].keys(), stuf_json['annotations'][0].keys(), stuf_json['categories'][0].keys()

(dict_keys(['license', 'file_name', 'coco_url', 'height', 'width', 'date_captured', 'flickr_url', 'id']),
 dict_keys(['segmentation', 'area', 'iscrowd', 'image_id', 'bbox', 'category_id', 'id']),
 dict_keys(['supercategory', 'id', 'name']))

In [ ]:
import pandas as pd

df_capt_images = pd.DataFrame(capt_json['images'], columns=['file_name', 'height', 'width', 'id'])
df_capt_annota = pd.DataFrame(capt_json['annotations'])

In [46]:
df_inst_images = pd.DataFrame(inst_json['images'], columns=['file_name', 'height', 'width', 'id'])
df_inst_annota = pd.DataFrame(inst_json['annotations'])
df_inst_catego = pd.DataFrame(inst_json['categories'])

In [58]:
df_pers_images = pd.DataFrame(pers_json['images'], columns=['file_name', 'height', 'width', 'id'])
df_pers_annota = pd.DataFrame(pers_json['annotations'])
df_pers_catego = pd.DataFrame(pers_json['categories'])

In [59]:
df_stuf_images = pd.DataFrame(stuf_json['images'], columns=['file_name', 'height', 'width', 'id'])
df_stuf_annota = pd.DataFrame(stuf_json['annotations'])
df_stuf_catego = pd.DataFrame(stuf_json['categories'])

In [37]:
pd.merge(df_capt_images, df_capt_annota, left_on="id", right_on="image_id", how="inner", validate='one_to_many').drop(columns=["id_y", "id_x"])

,file_name,height,width,image_id,caption
0,000000397133.jpg,427,640,397133,A man is in a kitchen making pizzas.
1,000000397133.jpg,427,640,397133,Man in apron standing on front of oven with pa...
2,000000397133.jpg,427,640,397133,A baker is working in the kitchen rolling dough.
3,000000397133.jpg,427,640,397133,A person standing by a stove in a kitchen.
4,000000397133.jpg,427,640,397133,A table with pies being made and a person stan...
...,...,...,...,...,...
25009,000000015335.jpg,480,640,15335,A group of people sitting at a table with food.
25010,000000015335.jpg,480,640,15335,"A man, woman, and boy are sitting at a table."
25011,000000015335.jpg,480,640,15335,"A man, woman and child eating together at a re..."
25012,000000015335.jpg,480,640,15335,A boy sitting between a man and a woman.
25013,000000015335.jpg,480,640,15335,"a young child, lady , and man sitting in a boo..."

In [47]:
pd.merge(df_inst_images, df_inst_annota, left_on="id", right_on="image_id", how="inner", validate='one_to_many').drop(columns=["id_y", "id_x"])

,file_name,height,width,segmentation,area,iscrowd,image_id,bbox,category_id
0,000000397133.jpg,427,640,"[[224.24, 297.18, 228.29, 297.18, 234.91, 298....",1481.38065,0,397133,"[217.62, 240.54, 38.99, 57.75]",44
1,000000397133.jpg,427,640,"[[292.37, 425.1, 340.6, 373.86, 347.63, 256.31...",54085.62170,0,397133,"[1.0, 240.24, 346.63, 186.76]",67
2,000000397133.jpg,427,640,"[[446.71, 70.66, 466.07, 72.89, 471.28, 78.85,...",17376.91885,0,397133,"[388.66, 69.92, 109.41, 277.62]",1
3,000000397133.jpg,427,640,"[[136.18, 253.44, 153.89, 277.3, 157.89, 278.2...",123.19340,0,397133,"[135.57, 249.43, 22.32, 28.79]",49
4,000000397133.jpg,427,640,"[[37.61, 381.77, 31.28, 360.25, 40.15, 352.65,...",2136.46615,0,397133,"[31.28, 344.0, 68.12, 40.83]",51
...,...,...,...,...,...,...,...,...,...
36776,000000015335.jpg,480,640,"[[168.32, 151.37, 165.88, 141.01, 161.61, 133....",5697.13675,0,15335,"[160.39, 66.68, 77.99, 84.69]",1
36777,000000015335.jpg,480,640,"[[640.0, 425.34, 634.94, 424.12, 623.96, 422.9...",2162.51280,0,15335,"[599.96, 422.9, 40.04, 57.1]",47
36778,000000015335.jpg,480,640,"[[26.58, 318.6, 47.35, 323.29, 46.01, 315.92, ...",380.79115,0,15335,"[2.47, 306.54, 44.88, 16.75]",77
36779,000000015335.jpg,480,640,"[[362.44, 128.22, 364.36, 119.75, 366.28, 115....",453.39980,0,15335,"[362.44, 102.44, 24.23, 27.7]",1
36780,000000015335.jpg,480,640,"[[565.97, 49.29, 559.87, 48.21, 561.3, 36.36, ...",701.58980,0,15335,"[535.82, 21.64, 30.15, 47.03]",1

In [ ]:
df_inst_images.merge(df_inst_annota, left_on="id", right_on="image_id", how="inner", validate='one_to_many').merge(df_inst_catego, left_on="category_id", right_on="id", how="inner", validate='many_to_many').drop(columns=['id_x', 'id_y', 'id'])

,file_name,height,width,segmentation,area,iscrowd,image_id,bbox,category_id,supercategory,name
0,000000397133.jpg,427,640,"[[224.24, 297.18, 228.29, 297.18, 234.91, 298....",1481.38065,0,397133,"[217.62, 240.54, 38.99, 57.75]",44,kitchen,bottle
1,000000397133.jpg,427,640,"[[292.37, 425.1, 340.6, 373.86, 347.63, 256.31...",54085.62170,0,397133,"[1.0, 240.24, 346.63, 186.76]",67,furniture,dining table
2,000000397133.jpg,427,640,"[[446.71, 70.66, 466.07, 72.89, 471.28, 78.85,...",17376.91885,0,397133,"[388.66, 69.92, 109.41, 277.62]",1,person,person
3,000000397133.jpg,427,640,"[[136.18, 253.44, 153.89, 277.3, 157.89, 278.2...",123.19340,0,397133,"[135.57, 249.43, 22.32, 28.79]",49,kitchen,knife
4,000000397133.jpg,427,640,"[[37.61, 381.77, 31.28, 360.25, 40.15, 352.65,...",2136.46615,0,397133,"[31.28, 344.0, 68.12, 40.83]",51,kitchen,bowl
...,...,...,...,...,...,...,...,...,...,...,...
36776,000000015335.jpg,480,640,"[[168.32, 151.37, 165.88, 141.01, 161.61, 133....",5697.13675,0,15335,"[160.39, 66.68, 77.99, 84.69]",1,person,person
36777,000000015335.jpg,480,640,"[[640.0, 425.34, 634.94, 424.12, 623.96, 422.9...",2162.51280,0,15335,"[599.96, 422.9, 40.04, 57.1]",47,kitchen,cup
36778,000000015335.jpg,480,640,"[[26.58, 318.6, 47.35, 323.29, 46.01, 315.92, ...",380.79115,0,15335,"[2.47, 306.54, 44.88, 16.75]",77,electronic,cell phone
36779,000000015335.jpg,480,640,"[[362.44, 128.22, 364.36, 119.75, 366.28, 115....",453.39980,0,15335,"[362.44, 102.44, 24.23, 27.7]",1,person,person
36780,000000015335.jpg,480,640,"[[565.97, 49.29, 559.87, 48.21, 561.3, 36.36, ...",701.58980,0,15335,"[535.82, 21.64, 30.15, 47.03]",1,person,person

In [60]:
df_pers_images.merge(df_pers_annota, left_on="id", right_on="image_id", how="inner", validate='one_to_many').merge(df_pers_catego, left_on="category_id", right_on="id", how="inner", validate='many_to_many').drop(columns=['id_x', 'id_y', 'id'])

,file_name,height,width,segmentation,num_keypoints,area,iscrowd,keypoints_x,image_id,bbox,category_id,supercategory,name,keypoints_y,skeleton
0,000000397133.jpg,427,640,"[[446.71, 70.66, 466.07, 72.89, 471.28, 78.85,...",13,17376.91885,0,"[433, 94, 2, 434, 90, 2, 0, 0, 0, 443, 98, 2, ...",397133,"[388.66, 69.92, 109.41, 277.62]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
1,000000397133.jpg,427,640,"[[0.43, 299.58, 2.25, 299.58, 9.05, 287.78, 32...",1,1037.78190,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",397133,"[0, 262.81, 62.16, 36.77]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
2,000000252219.jpg,428,640,"[[361.81, 368.51, 337.11, 369.76, 342.14, 359....",17,8511.15680,0,"[356, 198, 2, 358, 193, 2, 351, 194, 2, 364, 1...",252219,"[326.28, 174.56, 71.24, 197.25]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
3,000000252219.jpg,428,640,"[[51.12, 277.38, 51.12, 270.21, 50.1, 262.7, 5...",15,8349.28485,0,"[100, 190, 2, 0, 0, 0, 96, 185, 2, 0, 0, 0, 86...",252219,"[9.79, 167.06, 121.94, 226.45]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
4,000000252219.jpg,428,640,"[[576.11, 331.6, 577.82, 337.57, 581.23, 340.1...",15,11337.31575,0,"[536, 192, 1, 538, 188, 2, 0, 0, 0, 552, 190, ...",252219,"[510.44, 171.27, 123.66, 215.76]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10999,000000015335.jpg,480,640,"[[561.65, 162.93, 548.86, 162.93, 541.45, 162....",2,2982.31285,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",15335,"[541.45, 21.21, 75.07, 141.72]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
11000,000000015335.jpg,480,640,"[[400.45, 53.65, 382.13, 70.08, 379.79, 79, 37...",4,9835.36940,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 386, 88, 2, 444, 8...",15335,"[343.63, 53.65, 167.62, 111.74]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
11001,000000015335.jpg,480,640,"[[168.32, 151.37, 165.88, 141.01, 161.61, 133....",3,5697.13675,0,"[232, 121, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 208, ...",15335,"[160.39, 66.68, 77.99, 84.69]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
11002,000000015335.jpg,480,640,"[[362.44, 128.22, 364.36, 119.75, 366.28, 115....",0,453.39980,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",15335,"[362.44, 102.44, 24.23, 27.7]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."
11003,000000015335.jpg,480,640,"[[565.97, 49.29, 559.87, 48.21, 561.3, 36.36, ...",0,701.58980,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",15335,"[535.82, 21.64, 30.15, 47.03]",1,person,person,"[nose, left_eye, right_eye, left_ear, right_ea...","[[16, 14], [14, 12], [17, 15], [15, 13], [12, ..."

In [ ]:
df_stuf_images.merge(df_stuf_annota, left_on="id", right_on="image_id", how="inner", validate='one_to_many').merge(df_stuf_catego, left_on="category_id", right_on="id", how="inner", validate='many_to_many').drop(columns=['id_x', 'id_y', 'id'])

,file_name,height,width,segmentation,area,iscrowd,image_id,bbox,category_id,supercategory,name
0,000000397133.jpg,427,640,{'counts': ']i`11Z=0N2L5YDJdN2^;5nE1n93kE1T:0k...,5184.0,0,397133,"[117.0, 0.0, 193.0, 131.0]",94,plant,branch
1,000000397133.jpg,427,640,{'counts': 'eh]52U=5L5K3L5YC]Oa<h0M4K4M3L4M4M2...,3280.0,0,397133,"[416.0, 219.0, 81.0, 108.0]",98,furniture-stuff,cabinet
2,000000397133.jpg,427,640,{'counts': 'fUj31Y=1O1O1O1O1O1O1N2O1O1O1O1O1O1...,28614.0,0,397133,"[292.0, 311.0, 348.0, 116.0]",115,floor,floor-other
3,000000397133.jpg,427,640,{'counts': 'Vh_47k<90000001O0000000000001O0000...,691.0,0,397133,"[344.0, 309.0, 46.0, 22.0]",116,floor,floor-stone
4,000000397133.jpg,427,640,{'counts': '\982R1e;lN]DT1c;jN_DV1`;hNcDc0P<]O...,196.0,0,397133,"[0.0, 288.0, 17.0, 64.0]",121,food-stuff,food-other
...,...,...,...,...,...,...,...,...,...,...,...
32796,000000015335.jpg,480,640,{'counts': 'cV;3l>01000O0100O01000O010000O001L...,14525.0,0,15335,"[23.0, 370.0, 229.0, 110.0]",137,textile,napkin
32797,000000015335.jpg,480,640,{'counts': 'djR71m>3O1O002N1O001O001N2O00011M1...,3040.0,0,15335,"[483.0, 432.0, 110.0, 48.0]",139,raw-material,paper
32798,000000015335.jpg,480,640,{'counts': 'aQ_32n>1O7KO000001O1O1O00100O1O1^A...,8162.0,0,15335,"[236.0, 384.0, 390.0, 96.0]",165,furniture-stuff,table
32799,000000015335.jpg,480,640,{'counts': '0e4[:1OM3O1N2O100001O0000000000000...,34477.0,0,15335,"[0.0, 0.0, 557.0, 158.0]",172,wall,wall-concrete
32800,000000015335.jpg,480,640,{'counts': 'e>;k:j2XEhM`4_8aKaG^4`8aKaG]4`8cKa...,212218.0,0,15335,"[0.0, 15.0, 640.0, 465.0]",183,other,other

In [66]:
pd.unique(df_stuf_catego['id']), pd.unique(df_inst_catego['id'])

(array([ 92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
        105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
        118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
        131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
        144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
        157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
        170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
        183]),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 23, 24, 25, 27, 28, 31, 32, 33, 34, 35, 36, 37, 38,
        39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
        57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 70, 72, 73, 74, 75, 76, 77,
        78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90]))